/* Default Dark Mode */
body.dark {
  background-color: #000000;
  color: #c8c8c8;
}

/* Light Mode */
body.light {
  background-color: #ffffff;
  color: #000000;
}

/* Navbar */
.navbar {
  background-color: #222;
  padding: 10px;
}

body.light .navbar {
  background-color: #f8f8f8;
}

/* Theme Toggle */
.theme-toggle {
  cursor: pointer;
  color: #ffcc00;
  transition: color 0.3s;
}

body.light .theme-toggle {
  color: #333;
}
